# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.pyc

# Virtual environment
venv/
env/

# Environment variables
.env
.env.*

# VS Code
.vscode/

# Mac
.DS_Store

# Testing
.pytest_cache/
htmlcov/
.coverage

# Logs
*.log
